<%= form_with model: @question, url:questions_path, local: true do |f| %>
  
 
  <div class="article-box">
    新しい質問
   <%= render 'shared/error_messages', model: f.object %>
    <%= f.text_field :title, class:"title", placeholder:"タイトル" %>
    <%= f.text_area :text, class:"text", placeholder:"テキスト" %>
    <%= f.collection_select(:category_id, Category.all, :id, :name, {}, {class:"genre-select"}) %>
    <%= f.submit "質問する" ,class:"btn" %>
  </div>
<% end %>