<%= render "shared/header" %>

 <div class = "top-show">
    <div class = "second-show">
      <div class = "title-show">

        <%= @question.title %>
     </div>
    <div class = "category-show">
      <%= @question.category.name %>
    </div>
    <div class = "text-show">
     <%= @question.text %>
    </div>

    <div class = "change-show">
      <% if user_signed_in? %>
        <% if current_user.id == @question.user.id %>
          <%= link_to "編集", edit_question_path, class: "edit-show" %>
          <%= link_to "削除", question_path, method: :delete, class: "delete-show" %>
        <% else %>
          <%= form_with(model: [@question, @answer], local: true) do |form|%>
            <div class = "answers">
              <%= form.text_area :text, placeholder: "返答する", class: "answer-text" %>
              <%= form.submit "SEND", class: "answer-btn" %>
            </div> 
          <% end %>
        <% end %>    
         <div class = "answer-title">回答一覧</div>
           <div class = "answers-user">
             <% @answers.each do |answer| %>
               <div class = "answer-users">
                 <div class = "answer-user">
                    <%= answer.user.name %>
                 </div>
                 <div class = "answer-texts">
                   <%= answer.text %>
                 </div>
              </div>
             <% end %>
      <% end %>
   </div>
 </div>