<header class = "top-page-header">
    <%= link_to image_tag("toppage.jpg", class: "dictionary-icon"),"/"%>
     <div class = "line-box">
       <ul class = "line-header">
         <% if user_signed_in? %>
           <li><%= link_to current_user.name, "/users/#{current_user.id}", class: "login" %></li>
           <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "sign-up" %></li>
  
                <%= form_with(url: search_dictionaries_path, local: true, method: :get, class: "search-form") do |form| %>
                   <%= form.text_field :keyword, placeholder: "投稿を検索する", class: "search-input" %>
                   <%= form.submit "検索", class: "search-btn" %>
                <% end %>
  
         <% else %>
           <li><%= link_to "ログイン", new_user_session_path, class: "login" %></li>
           <li><%= link_to "新規登録", new_user_registration_path, class: "sign-up" %></li>
         <% end %>
       </ul>
       

     </div>
</header>