<%= render "shared/header" %>

<div class = "top-show">
<div class = "title-show">

<%= @dictionary.title %>
</div>
<div class = >
<%= @dictionary.category.name %>
<%= @dictionary.text %>
<%= link_to "編集", "#" %>
<%= link_to "削除", "#" %>

</div>